<a href="https://colab.research.google.com/github/tramyynt/Techlabs/blob/master/Pickshare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import json
import os
from google.colab import drive

In [25]:
drive.mount('/drive')

Mounted at /drive

In [32]:
users = pd.read_json('/drive/MyDrive/Techlabs/pickshare_users.json')
# users.head(5)
packages = pd.read_json('/drive/MyDrive/Techlabs/pickshare_packages.json')
packages.head(5)

      senderCompanyName      city _owner
0                Amazon  Dortmund  Björn
1             Zoo Royal    Berlin    Pia
2              ABOUTYOU  Dortmund  Björn
3                  Test    Berlin  VTest
4  notebooksbilliger.de  Dortmund  Björn

In [52]:
print(packages['_owner'].describe())
print(packages['city'].describe())
print(users['firstName'].describe())
print(users['city'].describe())

count        3408
unique        100
top       Karsten
freq          252
Name: _owner, dtype: object
count       3362
unique        39
top       Berlin
freq        2345
Name: city, dtype: object
count      257
unique     209
top       Test
freq         5
Name: firstName, dtype: object
count        257
unique        61
top       Berlin
freq         102
Name: city, dtype: object

In [53]:
print(packages['senderCompanyName'].describe())

count       3408
unique      1002
top       Amazon
freq        1055
Name: senderCompanyName, dtype: object